/* ---------- CWK Animation Keyframes CSS ---------- */

@keyframes blink {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    95% {
        opacity: 0;
    }
}

@keyframes pulse {
    10% {
        transform: scale(1.1);
    }

    30% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.05);
    }

    60% {
        transform: scale(1);
    }

    70% {
        transform: scale(1.025);
    }

    90% {
        transform: scale(1);
    }

    100% {

    }
}

@keyframes popcard {
    75% {
        transform: perspective(25rem) rotateX(5deg);
    }

    100% {
        transform: scale(1.1);
    }
}

@keyframes wave {
    from {
        box-shadow: 0 0 .1rem 0 rgba(255, 255, 255, .25);
    }

    to {
        box-shadow: 0 0 1rem .5rem rgba(255, 255, 255, 0);
    }
}

@keyframes scrolldown {
    to {
        transform: translateY(.75rem);
        opacity: 0;
    }
}

@keyframes rgbgaming {
    19% {
        filter: drop-shadow(0 0 .25rem rgba(255, 0, 255, 1));
    }

    33% {
        filter: drop-shadow(0 0 .25rem rgba(255, 0, 0, 1));
    }

    49% {
        filter: drop-shadow(0 0 .25rem rgba(255, 255, 0, 1));
    }

    66% {
        filter: drop-shadow(0 0 .25rem rgba(0, 255, 0, 1));
    }

    79% {
        filter: drop-shadow(0 0 .25rem rgba(0, 255, 255, 1));
    }    

    99% {
        filter: drop-shadow(0 0 .25rem rgba(0, 0, 255, 1));
    }
}